<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
<title> Main menu </title>
<link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<header id="home" class="header">
 <nav class="nav" role="navigation">
    <div class="container nav-elements">
      <div class="branding">
      </div><!-- branding -->
      <ul class="navbar">
        <h1><li><a href="#home">Home</a></li></h1> 
         <h1> <li>   <a href="/login">Login</a>  </li></h1>
         <h1> <li>   <a href="/logout">Logout</a>  </li></h1>
        </ul><!-- navbar -->
    </div><!-- container nav-elements -->
  </nav>
</header>
  <br></br>
</body>
</html>