<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
<title>Handicap System Maintenance </title>
<link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<header id="home" class="header">
 <nav class="nav" role="navigation">
    <div class="container nav-elements">
      <div class="branding">
      </div><!-- branding -->
      <ul class="navbar">
     <h1> <li><a href="/addcourse">Add Course</a></li></h1>  
     <h1>   <li><a href="/registerplayer">Registerd Player </a> </li></h1>   
     <h1>   <li><a href="/login">Players Scores </a></li></h1>  
     <h1>    <li><a href="/deletescores">Delete Score</a></li></h1>  
     <h1>    <li><a href="/logout">Logout</a></li></h1>  
     <h1>    <li><a href="/billsgolfapp">Home</a></li></h1>  
        </ul><!-- navbar -->
    </div><!-- container nav-elements -->
  </nav>
</header>
   </body>
</html>